# Created by https://www.toptal.com/developers/gitignore/api/vue,vuejs,nuxtjs
# Edit at https://www.toptal.com/developers/gitignore?templates=vue,vuejs,nuxtjs

### NuxtJS ###
# Generated dirs
dist
.nuxt
.nuxt-*
.output
.gen

# Node dependencies
node_modules

# System files
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
